<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puppy Store</title>
</head>
<body>
<h1 style="text-align:center;">Welcome To Puppy Store 🐶</h1>
<hr/>
<p>
   {% if user.is_authenticated %}
    <text>Hi {{ user.email }}</text>
{% else %}
    <text>💁You are not logged in.</text>
    <text><cite>Login as admin before accessing any endpoint.</cite></text>
{% endif %}
</p>
<ul>
    <li><a href="/api/v1/puppies/" target="_blank" rel="noopener noreferrer">Get all Puppies</a></li>
    <br/>
    <li><a href="/api/v1/puppy/1/" target="_blank" rel="noopener noreferrer">Get single Puppy</a></li>
    <br/>
    <li><a href="/api/v1/puppy/new/" target="_blank" rel="noopener noreferrer">Add new Puppy</a></li>
    <br/>
    <li><a href="/api/v1/puppy/delete/1/" target="_blank" rel="noopener noreferrer">Delete single Puppy</a></li>
    <br/>
    <li><a href="/api/v1/puppy/update/1/" target="_blank" rel="noopener noreferrer">Details update</a></li>
</ul>
</body>


<p style=" position: absolute; bottom: 0; left: 0; width: 100%; text-align: center;">
    <a href="http://www.abunayla.com" target="_blank" rel="noopener noreferrer">Developed by: Mohanad Abu-Nayla</a><br/>
    <a href="https://github.com/hannody" target="_blank" rel="noopener noreferrer">GitHub</a>
</p>
</html>