<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puppy Store</title>
</head>
<body>
 <h2>Welcome To Puppy Store</h2>
<p><a href="http://127.0.0.1:8000/admin/">Admin</a></p>
<p><a href="http://127.0.0.1:8000/api/v1/puppies/">API</a></p>
<p><a href="http://127.0.0.1:8000/api/v1/puppy/1/">Puppy</a></p>
<p><a href="http://127.0.0.1:8000/api/v1/puppy/new/">New Puppy</a></p>
<p><a href="http://127.0.0.1:8000/api/v1/puppy/delete/1/">Delete</a></p>
<p><a href="http://127.0.0.1:8000/api/v1/puppy/update/1/">Update</a></p>

</body>
</html>